<script>
    export let device;

    import { onMount } from "svelte";
    import { writable } from "svelte/store";

    let div;
    let divClass = writable("");

    onMount(() => {
        div.addEventListener(
            "drop",
            (event) => {
                event.preventDefault();
                event.stopPropagation();

                for (const f of event.dataTransfer.files) {
                    // Using the path attribute to get absolute file path
                    console.log("File Path of dragged files: ", f.path);

                    device.installApk(f.path);
                }
                divClass.update((v) => "");
            },
            true
        );

        div.addEventListener(
            "dragover",
            (e) => {
                e.preventDefault();
                e.stopPropagation();
                divClass.update((v) => "over");
            },
            true
        );

        div.addEventListener(
            "dragenter",
            (event) => {
                console.log("File is in the Drop Space");
                divClass.update((v) => "over");
            },
            true
        );

        div.addEventListener(
            "dragleave",
            (event) => {
                console.log("File has left the Drop Space");
                divClass.update((v) => "");
            },
            true
        );
    });
</script>

<style>
    .over {
        border: 3px #333 dashed;
        border-radius: 10px;
        padding: 0;
    }
    .normal.over {
        padding: 0;
    }
    .normal {
        padding: 3px;
        display: inline-block;
        margin: 15px;
    }

    .nodots {
        list-style-type: none;
        padding-inline-start: 0;
        text-align: left;
    }

    a {
        cursor: pointer;
    }
</style>

<div bind:this={div} class={$divClass + ' normal'}>
    <h1>{device.name}</h1>
    <!-- svelte-ignore a11y-missing-attribute -->
    <img src="cellphone.png" />
    <p>Android</p>

    <ul class="nodots">
        {#each device.availableTasks() as task}
            <li><a on:click={() => task.run()}>{task.name}</a></li>
        {/each}
    </ul>
</div>
