<script>
	import DeviceHomePicture from "./components/DeviceHomePicture.svelte";

	export let devices;
</script>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
		display: flex;
	}
</style>

<main>
	{#each $devices as device}
		<div>
			<DeviceHomePicture device={device} />
		</div>
	{/each}
</main>
